<div class= "row">
<div class="col s4"></div>
<div class ="col s4 offset-s4">
<img class="responsive-img center"src="assets/images/icon.jpg">
<div><h1 class="blue-grey-text text-darken-2">HeloChat</h1></div>
</div>
</div>
<div class="row">
<div class ="col s10 offset-s1"><h4>Welcome <strong>here</strong>. Click on the button below to chat or make a video call.</h4>
</div>
</div>

<div class = "row">
<div class="col s4 offset-s3"><div class="grid-example col s12 m6" align="center"><img height="120px" src="assets/images/text.jpg">
<p><a href="#/textchat"><button class="btn">text Chat</button></a></p>
</div>
</div>


<div class="col s4"><img class="responsive-img"src="assets/images/videoicon.jpg">
<p><a href="#/videochat"><button class="btn">Video Chat</button></a></p>
</div>
</div>