
<h3 ng-show="client.isConnected()">Connected as {{username}} </h3>

<div ng-show="!client.isConnected()">
	<h3>Enter your Username to get connected</h3>
	<input placeholder="My Username" ng-model="username" type="text" autofocus />
	<button ng-click="connect()" class="btn">Connect</button>
</div>

<div ng-show="client.isConnected()">
	<input placeholder="User to call" ng-model="friendId" type="text" autofocus ng-show="!activeCall" />
	<button ng-click="call()" ng-show="!activeCall" class="btn">Call</button>
	<button ng-click="hangup()" ng-show="activeCall" class="btn">Hang up</button>
</div>

<div class="row">
 <div class="col s3 offset-s4">
	<div id="remoteVideoSource"></div>
	<div id="localVideoSource"></div>
 </div>
</div>



