<h3 id="status">{{status}}</h3>
<div id="login">
Enter Your Username anc Click Connect to start a Chat:
<input id="endpoint" type="text" ng-model='endpoint'/>
<input placeholder="Username here" class="btn" id="doLogin" type="button" value="Connect" ng-click='doLogin()'/>
</div>
<div id="messaging">
<ul id="messages">
 <li ng-repeat='msg in myMessage'>
  {{endpoint}} : {{msg.message}}
 </li>
 <li ng-repeat='message in messageArray'>
  {{remote}} : {{message.message}}
 </li>
</ul><br/>


<h3>Send To:</h3>
<input id="remoteId" type="text" ng-model='remote'/><br />
<div class="row">
<div class="input-field col s6">
<textarea id="textarea1" class="materialize-textarea" ng-model='messageText'></textarea>
<label for="textarea1">Enter Text Here</label>
</div>
</div>

<input class="btn" id='sendMessage' type='button' value='Send Message' ng-click='sendMessage()' />
</div>
